{% extends "layout.html" %}
{% block content %}
  <section>
      <div class="container">
        <h2 id="greeting">{% if current_user.is_authenticated %}
                            Welcome to CESAR {{ current_user.username }}!
                          {% else %}
                            Welcome to CESAR!</br></br>Please Sign up or Log in.
                          {% endif %}
        </h2>
          <div class="entry-list">
          {% if current_user.is_authenticated %}

              <article>
                <div class="entry">
                  <table style="width:100%">
                    <tr>
                      <th>Title</th>
                      <th>Problem</th>
                      <th>Solution</th>
                      <th>Tags</th>
                    </tr>

                    {% for entry in entries %}

                    <tr>
                      <td><a href="{{ url_for('details', entry_id=entry.id) }}">{{ entry.title }}</a></td>
                      <td>{{ entry.problem }}</td>
                      <td>{{ entry.solution }}</td>
                      <td>{% for tag in entry.tags %}{{tag.name}}, {% endfor %}</td>
                      <td><a href="{{ url_for('edit_entry', entry_id=entry.id) }}">Edit</a></td>
                    </tr>


                    {% endfor %}
                  </table>
                </div>
              </article>
          {% endif %}
          </div>
      </div>
  </section>

{% endblock %}
